<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- loader -->
  <div class="loader" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>
  <div class="main" *ngIf="!loading && services.length">
    <!-- search bar -->
    <ion-searchbar [(ngModel)]="search.value" (ionChange)="searchServices()"></ion-searchbar>
    <!-- warning -->
    <div padding><small>Ao clicar em entrar em contato, o serviço selecionado será redirecionado para a sessão "Chat com clientes" do menu lateral.</small></div>
    <!-- service list -->
    <ion-card *ngFor="let service of services">
      <ion-card-header>
        <span class="title">{{ service.title }}</span>
        <small><i>Solicitado por</i>&nbsp;<b>{{ service.client_name }}</b></small>
        <span class="capitalize">{{ service.type }}</span>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="acceptService(service.id)">Entrar em contato</ion-button>        
      </ion-card-content>
    </ion-card>
  </div>
  <!-- empty list card -->
  <ion-card *ngIf="!loading && !services.length">
    <ion-card-header>
      Ops! Nenhum serviço disponível ainda!
    </ion-card-header>
    <ion-card-content>
      <p>Divulgue para seus amigos para o TrampoCerto bombar na sua área!</p>
      <ion-button>Compartilhar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>