<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Solicitar Serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <card-info [hide]="services.length"></card-info>
  <service-item [services]="services" [hasButton]="true"></service-item>
</ion-content>

<ion-footer>
  <service-form [showForm]="services.length" [services_types]="services_types"
    (initializeService)="initializeService($event)"></service-form>
</ion-footer>